<div class="blog-post clearfix">
	<h4 class="blog-post-title">Обо мне</h4>
	<p class="blog-post-meta"></p>

	<div class="row">

		<div class="col-sm-12 col-md-6">
			<div class="card" style="width: 100%;">
				<div class="card-body" style="text-align: center;">
					<img src="/storage/image/user/avatar/Valeria Fadeeva/avatar_square_1.png"
						style="width: 10rem; height: 10rem; border-radius: 50%;">
				</div>
				<div class="card-header center">Валерия Фадеева</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="card" style="width: 100%">
				<div class="card-body">
					<p class="card-text">
						Имею хорошие базовые знания по языкам программирования, базам данных, сетям, устройству
						компьютера, работе операционных систем, виртуализации, системам контроля версий.
					</p>
					<p class="card-text">
						Изучаю и программирую на Python, Rust, PHP, JavaScript, TypeScript.
					</p>
					<p class="card-text">
						Создаю продукты для себя и для людей, делюсь знаниями, принимаю подписки, лайки и
						<a href="https://donate.stream/ya4100115921160758" target="_blank">донаты</a>.
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-12">
			<div class="card" style="width: 100%">
				<div class="card-header">Products:</div>
				<div class="card-body">
					<div style="--aspect-ratio:16/9;">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/w2iepQrS6Ow"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="card" style="width: 100%">
				<div class="card-header">Developer:</div>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<div class="card-text">
						<ul>
							<li>Python</li>
							<ul>
								<li>OpenCV</li>
								<ul>
									<li><a href="https://github.com/Valeria-Fadeeva/pdf" target="_blank">pdf</a></li>
								</ul>
								<li>Requests</li>
								<ul>
									<li><a href="https://github.com/Valeria-Fadeeva/check-links-status-from-Irbis-951-fields"
											target="_blank">check-links-status-from-Irbis-951-fields</a></li>
								</ul>
								<li>PyQT</li>
							</ul>
							<li>Rust</li>
							<ul>
								<li>FLTK</li>
								<ul>
									<li><a href="https://github.com/Valeria-Fadeeva/image-viewer" target="_blank">image
											viewer</a></li>
								</ul>
								<li>notify, sysinfo</li>
								<ul>
									<li><a href="https://github.com/Valeria-Fadeeva/folder-watcher-and-app-launcher"
											target="_blank">folder watcher and app launcher</a></li>
								</ul>
								<li>std::process, std::env, dotenv</li>
								<ul>
									<li><a href="https://github.com/Valeria-Fadeeva/app-launcher" target="_blank">app
											launcher</a></li>
								</ul>
							</ul>
							<li>PHP</li>
							<ul>
								<li>PDO, templates, composer</li>
								<ul>
									<li><a href="https://github.com/Valeria-Fadeeva/valeria.fadeeva.me"
											target="_blank">valeria.fadeeva.me</a></li>
								</ul>
							</ul>
							<li>JavaScript</li>
							<li>MySQL</li>
							<li>SQLite</li>
							<li>HTML5</li>
							<li>CSS3</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="card" style="width: 100%">
				<div class="card-header">System administrator:</div>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<div class="card-text">
						<ul>
							<li>Linux</li>
							<li>IPTables</li>
							<li>DHCPD</li>
							<li>Nginx</li>
							<li>Apache</li>
							<li>PHP-fpm</li>
							<li>MariaDB</li>
							<li>PowerDNS</li>
							<li>Bash</li>
							<li>Bat</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-12">
			<div class="card" style="width: 100%">
				<div class="card-header"></div>
				<div class="card-body center">
					<a href="https://boosty.to/valeria.fadeeva/ref" target="_blank" type="button" class="btn btn-dark">
						<i class="fab">
							<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMyIgaGVpZ2h0PSI0MCI+CiAgPGRlZnM+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSIuNjE1IiB4Mj0iLjM0MiIgeTE9Ii4xMyIgeTI9IjEuMjk0Ij4KICAgICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI0VGNzgyOSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iI0YwNjkyQSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI0YxNUUyQyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNGMTVBMkMiLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgogIDxwYXRoIGZpbGw9InVybCgjYSkiIGQ9Ik0xLjAzOCAyMy44OTIgNy44MTUgMGgxMC40bC0yLjEwMyA3LjQwN2EuNzQ1Ljc0NSAwIDAgMC0uMDU0LjEzNEwxMC41MzYgMjcuMWg1LjE1NEE4ODQ5LjM2OCA4ODQ5LjM2OCAwIDAgMCAxMC42MzUgNDBjLTkuNTA3LS4xMDgtMTIuMTc0LTcuMDUyLTkuODQtMTUuMjY4Wk0xMC42NzMgNDBsMTIuNTM1LTE4LjRIMTcuODlsNC42MjctMTEuNzg2YzcuOTQyLjg0NiAxMS42NjUgNy4yMTUgOS40NzYgMTQuOTE2QzI5LjY0MyAzMy4wMTYgMjAuMTMgNDAgMTAuODY2IDQwWiIvPgo8L3N2Zz4="
								style="height: 1rem;"></i> Подписаться на обновления
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
