					<div class="blog-post clearfix">
						<h4 class="blog-post-title">Обо мне</h4>
						<p class="blog-post-meta"></p>

						<div class="row">

							<div class="col-sm-12 col-md-6">
								<div class="card" style="width: 100%;">
									<div class="card-body" style="text-align: center;">
										<img src="/storage/image/user/avatar/Valeria Fadeeva/avatar_square_1.png" style="width: 10rem; height: 10rem; border-radius: 50%;">
									</div>
									<div class="card-header center">Валерия Фадеева</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-6">
								<div class="card" style="width: 100%">
								<div class="card-body">
									<p class="card-text">
										Я - программист и системный администратор.
									</p>
									<p class="card-text">
										В моем багаже есть место для
									</p>
									<p class="card-text">
										PHP, Python, Rust, JavaScript, HTML5, CSS3, Bash, Bat
									</p>
									<p class="card-text">
										Linux, IPTables, DHCPD, Nginx, Apache, PHP-fpm, MySQL, PowerDNS и других страшных слов.
									</p>
									<p class="card-text">
										Мой опыт работы: программирование и системное администрирование Linux серверов и MS AD и Windows рабочих станций.
									</p>
								</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-6">
								<div class="card" style="width: 100%">
								<div class="card-header">Developer:</div>
								<div class="card-body">
									<h5 class="card-title"></h5>
									<div class="card-text">
										<ul>
											<li>PHP</li>
											<li>Python</li>
                                            <li>PyQT</li>
                                            <li>Rust</li>
                                            <li>JavaScript</li>
											<li>MySQL</li>
											<li>SQLite</li>
											<li>HTML5</li>
											<li>CSS3</li>
										</ul>
									</div>
								</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-6">
								<div class="card" style="width: 100%">
								<div class="card-header">System administrator:</div>
								<div class="card-body">
									<h5 class="card-title"></h5>
									<div class="card-text">
										<ul>
											<li>Linux</li>
											<li>IPTables</li>
											<li>DHCPD</li>
											<li>Nginx</li>
											<li>Apache</li>
											<li>PHP-fpm</li>
											<li>MariaDB</li>
											<li>PowerDNS</li>
                                            <li>Bash</li>
											<li>Bat</li>
										</ul>
									</div>
								</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-6">
								<div class="card" style="width: 100%">
								<div class="card-header">Location:</div>
								<div class="card-body">
									<h5 class="card-title"></h5>
										<div class="card-text"><i class="fas fa-map-marker-alt"></i> Russia, Ekaterinburg</div>
								</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-6">
								<div class="card" style="width: 100%">
								<div class="card-header">Thanks:</div>
								<div class="card-body">
									<h5 class="card-title"></h5>
										<div class="card-text">Приятного дня! =<^.^>=</div>
								</div>
								</div>
							</div>
						</div>
					</div>
