.avatar_24 {
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.avatar_24 {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.avatar_32 {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.avatar_48 {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.avatar_50 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.avatar_100 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
