.card {
	background-color: var(--main-card-bg-color);
	color: var(--main-card-text-color);
	border: 1px solid var(--main-card-border-color);
	float: left;
	width: 33.333%;
	padding: .75rem;
	margin-bottom: 2rem;
}

.card > img {
	margin-bottom: .75rem;
}

.card-text {
	font-size: 85%;
}

.card-text p {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.card-active {
	background-color: var(--main-card-active-bg-color);
	color: var(--main-card-active-text-color);
}

.card-deactive {
	background-color: var(--main-card-deactive-bg-color);
	color: var(--main-card-deactive-text-color);
}

.card-deactive * {
	background-color: var(--main-card-deactive-bg-color)!important;
    color: var(--main-card-deactive-text-color)!important;
}
